<div class="container">
    <div>
      <!--<h2>My Groups</h2> -->
      <br/>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="card text-center">
                <div class="card-header">
                  Cool Head
          
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4"><p class="pull-right"> <b> Merchant Name </b></p></div>
                    <div class="col-sm-4">
                      <p class="pull-left"> AirBnB </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4">
                      <p class="pull-right"> <b> Amount </b></p>
                    </div>
                    <div class="col-sm-4">
                      <p class="pull-left"> 1000 </p>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-2"></div>
                      <div class="col-sm-8">
                          <button (click)="split()" class="btn btn-primary btn-block">Split Payment</button>
                          
                      </div>
                    </div>
                  
                </div>
                <!-- <div class="card-footer text-muted">
                    2 days ago
                  </div> -->
              </div>
            </div>
        </div>
      </div>
      
    
  </div>

