<div class="container">
    <div>
      <!--<h2>My Groups</h2> -->
    </div>
    <mat-grid-list cols="2" rowHeight="2:1" [gutterSize]="'15px'">
      <mat-grid-tile>
        <div>
            <span>Merchant Name</span>
            <span id="mName">AirBnB</span>
        </div>
        <div>
            <span>Amount</span>
            <span id="amount">1000</span>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button (click)="split()" class="btn">Split Payment</button>
            </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
</div>
  